.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 0 12px 0 12px;
    margin: 5px;
}
.logo{
    width: 80px;
}
.nav-items > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-items > ul > li{
    list-style-type: none;
    padding-right: 12px;
}
.filter_and_search{
  display: flex;
  justify-content: space-between;
}
.search-container{
  display: flex;
  /* justify-content: end; */
  margin-left: 15px;
  padding: 2px;
}
.search-input{
  margin-right: 5px;
  padding: 2px;
}
.filter{
  margin: 5px;
}
.filter_btn{
  padding: 2px;
}
.card-img{
    width: 100%;
    height: 110px;
    
}
.restorent-card{
    font-size: 0.80rem;
    font-family: 'Times New Roman';
    width: 185px;
    /* height: 230px; */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 15px;
}
.restorent-tital{
    font-size: 1rem;
    margin: 0;
    padding: 2px;
}
.rating-time{
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.star-img{
    width: 0.80rem;
    margin-left:5px;
}
.customer-rating{
    padding: 2px;
}
.time-to-reach{
    margin-left: 15px;
    padding: 2px;
}
.restaurant-containser{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}
.hotel-address-area{
    font-size: 0.9rem;
    padding: 2px;
}
.hotel-address-city{
    padding: 2px;
}





/* 
  
{
      type: "restaurant",
      data: {
        type: "F",
        id: "74453",
        name: "Domino's Pizza",
        uuid: "87727dbd-7f2b-4857-9763-359624165845",
        city: "21",
        area: "Athwa",
        totalRatingsString: "1000+ ratings",
        cloudinaryImageId: "bz9zkh2aqywjhpankb07",
        cuisines: ["Pizzas"],
        tags: [],
        costForTwo: 40000,
        costForTwoString: "₹400 FOR TWO",
        deliveryTime: 45,
        minDeliveryTime: 45,
        maxDeliveryTime: 45,
        slaString: "45 MINS",
        lastMileTravel: 0,
        slugs: {
          restaurant: "dominos-pizza-majura-nondh-test_surat",
          city: "surat",
        },
        cityState: "21",
        address:
          "Shop 32 To 35, Sheetal Shopping Square,Near Lb Turning Point, Bhatar Road,MAJURA NONDH, Surat,GUJARAT-395001",
        locality: "Bhatar Road",
        parentId: 2456,
        unserviceable: false,
        veg: true,
        select: false,
        favorite: false,
        tradeCampaignHeaders: [],
        aggregatedDiscountInfo: {
          header: "FREE DELIVERY",
          shortDescriptionList: [
            {
              meta: "FREE DELIVERY",
              discountType: "FREE_DELIVERY",
              operationType: "RESTAURANT",
            },
          ],
          descriptionList: [
            {
              meta: "FREE DELIVERY",
              discountType: "FREE_DELIVERY",
              operationType: "RESTAURANT",
            },
          ],
          subHeader: "",
          headerType: 0,
          superFreedel: "",
        },
        aggregatedDiscountInfoV2: {
          header: "",
          shortDescriptionList: [
            {
              meta: "Free Delivery",
              discountType: "FREE_DELIVERY",
              operationType: "RESTAURANT",
            },
          ],
          descriptionList: [
            {
              meta: "FREE DELIVERY",
              discountType: "FREE_DELIVERY",
              operationType: "RESTAURANT",
            },
          ],
          subHeader: "",
          headerType: 0,
          superFreedel: "",
        },
        chain: [],
        feeDetails: {
          fees: [],
          totalFees: 0,
          message: "",
          title: "",
          amount: "",
          icon: "",
        },
        availability: {
          opened: true,
          nextOpenMessage: "",
          nextCloseMessage: "",
        },
        longDistanceEnabled: 0,
        rainMode: "NONE",
        thirdPartyAddress: false,
        thirdPartyVendor: "",
        adTrackingID: "",
        badges: {
          imageBased: [],
          textBased: [],
          textExtendedBadges: [],
        },
        lastMileTravelString: "2.1 kms",
        hasSurge: false,
        sla: {
          restaurantId: "74453",
          deliveryTime: 45,
          minDeliveryTime: 45,
          maxDeliveryTime: 45,
          lastMileTravel: 0,
          lastMileDistance: 0,
          serviceability: "SERVICEABLE",
          rainMode: "NONE",
          longDistance: "NOT_LONG_DISTANCE",
          preferentialService: false,
          iconType: "EMPTY",
        },
        promoted: false,
        avgRating: "4.0",
        totalRatings: 1000,
        new: false,
      },
      subtype: "basic",
    },

*/